#root {
    background: url('/background.png') 0 0 no-repeat;
    background-size: cover;
    z-index: -1;
}

img#pidge_lights,
img#tenYears {
    position: absolute;
    top: 0;
    width: 100%;
}
img#pidge_lights {
    left: 0;
    top: 400px;
}
img#tenYears {
    left: 0;
    width: auto;
    max-width: 200px;
}
@media screen and (max-width: 500px) {
    img#tenYears {
        position: fixed;
        max-width: 100px;
        width: 50%;
    }
}
